* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: #000;
}
.container {
  max-width: 142rem;
  margin: 0 auto;
}
.logo {
  width: 22.8rem;
}
.main-header {
  display: flex;
  align-items: center;
  padding: 1.4rem 4rem;
  max-width: 165rem;
  margin: 0 auto;
}
.main-navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.selc-lan {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 0.05rem;
  color: #fff;
  padding: 0.6rem 2.4rem;
  padding-right: 2rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #666;
  backdrop-filter: blur(2px);
}
option {
  color: #000;
  background-color: #fff;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  background-color: #e50914;
  border-radius: 6px;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  background-color: #ce0812;
}

.btn-signIn:link,
.btn-signIn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
}
/* .btn-signIn:hover,
.btn-signIn:active {
} */

.hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.48) 20%,
      rgba(0, 0, 0, 1)
    ),
    url("img/hero.jpg");
  background-size: cover;
}

.hero-content {
  color: #fff;
}
.hero-text {
  max-width: 78rem;
  margin: 0 auto;
  padding: 21rem 2rem;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.hero-content p {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
}
.hero-content h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-top: 4.9rem;
}
.cta-main {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-around;
}

.cta {
  display: grid;
  width: 70.8rem;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.1rem;
}

input {
  display: inline-block;
  font-size: 2.2rem;
  font-family: inherit;
  padding: 1.85rem 1.6rem;
  border-radius: 6px;
  border: 1.5px solid #444;
  background: none;
}
input::placeholder {
  color: #ccc;
}

.btn-get {
  border: none;
  font-size: 2.2rem;
  font-weight: 600;
  width: 100%;
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  cursor: pointer;
}
.chevron {
  align-self: flex-end;
}
.chev-icon {
  width: 3.3rem;
  height: 4rem;
}
